$text-color: #333745;
$beige: #eef5db;
$tea-green: #c7efcf;
$cerise: #e63462;

body {
  height: 100vh;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  .app {
    min-height: 66vh;
    display: grid;
    grid-template-columns: 34rem 44rem;
    column-gap: 4rem;
    align-items: start;
  }
}
